@using ProgrammersBlog.Shared.Utilities.Results.ComplexTypes
@model ProgrammersBlog.Entities.Dtos.GorevlerListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Sorunlar Listesi";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Gorevler" asp-action="Index">Görevler</a></li>
</ol>
@if (Model.ResultStatus == ResultStatus.Success)
{
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mb-4 mt-2">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Görev Listesi
                            </div>
        <div class="card-body">
            <div class="spinner-border" role="status" style="display: none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="gorevsTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Adı</th>
                        <th>Açıklaması</th>
                         
                        
                        <th>İşlemler</th>
                    </tr>
                    </thead>
                    <tfoot>
                  
                    </tfoot>
                    <tbody>
                    @foreach (var gorevler in Model.Gorevlers)
                    {
                            <tr name="@gorevler.Id">
                                <td>@gorevler.Id</td>
                                <td>@gorevler.Name</td>
                                <td>@gorevler.Description</td>

                                
                            <td>
                                    <button class="btn btn-primary btn-sm btn-update" data-id="@gorevler.Id"><span class="fas fa-edit"></span></button>
                                    <button class="btn btn-danger btn-sm btn-delete" data-id="@gorevler.Id"><span class="fas fa-minus-circle"></span></button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
     </div>
}
@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-3">
        @Model.Message <br/>
        Dashboard sayfasına geri dönmek için lütfen <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız.</a>
    </div>
}
@section Scripts
{
    <script src="~/AdminLTE/js/gorevlerIndex.js" type="application/ecmascript"></script>
}
